.juxtapose-container {
    position: relative;
    width: 600px;
    height: 400px;
    overflow: hidden;
}

.image-bottom,
.image-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-top {
    width: 50%; /* Начальная ширина верхнего изображения */
    overflow: hidden;
}

.slider-handle {
    position: absolute;
    top: 0;
    left: 50%;
    width: 4px;
    height: 100%;
    background: #fff;
    cursor: ew-resize;
}
